{% extends "base.html" %}

{% block content %}

<div class="hero">

    <div class="hero-text">
        <h1>Heart Disease Analysis</h1>

        <p>
            This project analyzes heart disease data using interactive
            dashboards and visual storytelling. It helps identify
            health risks based on lifestyle, age, smoking habits,
            diabetes, and alcohol consumption.
        </p>

        <p>
            The goal is to transform medical data into meaningful
            insights that support awareness and preventive healthcare.
        </p>

        <a class="btn" href="/dashboard">Explore Dashboard →</a>
    </div>

    <div>
        <img src="https://cdn-icons-png.flaticon.com/512/3774/3774299.png">
    </div>

</div>

{% endblock %}
